// customize bootstrap variables here:
@import "variables";
@import "bootstrap";

$defaultFontSize: 0.9em;
#sitenav{
	ul{
		margin: 0;
		padding: 0;
		display: inline;
		li{
			display: inline;
			list-style: none;
			padding-right: 40px;
			color: #4b4b4b; 
			font-size: $defaultFontSize;
		}
	}
	padding-bottom: 8px;
}
#siteBlock{
	border: 1px solid #e7e7e7;
	padding: 8px;
}
#indexContent{
	padding: 16px;
	color: #4b4b4b;
}
.title1{
	color: #FA4100;
	font-size: $defaultFontSize + 0.4em;
}
.title2{
	color: #4b4b4b;
	font-size: $defaultFontSize + 0.4em;
}
.graybakcground{
	background: #e7e7e7;
	padding: 16px;
}